<section class="mb50">
	<h2 class="heading-2 fw600">Grid</h2>
	<hr class="m10-0">
	<div class="grid-container tac bd1-s-gray">
		.grid-container (width set by $width-wrapper)
		<section class="clearfix c-white fz14">
			<div class="p10 h50 bd1-s-white span-12 bgc-gray">.span-12</div>
			<div class="p10 h50 bd1-s-white span-11 bgc-gray">.span-11</div>
			<div class="p10 h50 bd1-s-white span-1 span-last bgc-gray fz10">.span-1.span-last</div>
			<div class="p10 h50 bd1-s-white span-10 bgc-gray">.span-10</div>
			<div class="p10 h50 bd1-s-white span-2 span-last bgc-gray">.span-2.span-last</div>
			<div class="p10 h50 bd1-s-white span-9 bgc-gray">.span-9</div>
			<div class="p10 h50 bd1-s-white span-3 span-last bgc-gray">.span-3.span-last</div>
			<div class="p10 h50 bd1-s-white span-8 bgc-gray">.span-8</div>
			<div class="p10 h50 bd1-s-white span-4 span-last bgc-gray">.span-4.span-last</div>
			<div class="p10 h50 bd1-s-white span-7 bgc-gray">.span-7</div>
			<div class="p10 h50 bd1-s-white span-5 span-last bgc-gray">.span-5.span-last</div>
			<div class="p10 h50 bd1-s-white span-6 bgc-gray">.span-6</div>
			<div class="p10 h50 bd1-s-white span-6 span-last bgc-gray">.span-6.span-last</div>
			<div class="p10 h50 bd1-s-white span-5 bgc-gray">.span-5</div>
			<div class="p10 h50 bd1-s-white span-7 span-last bgc-gray">.span-7.span-last</div>
			<div class="p10 h50 bd1-s-white span-4 bgc-gray">.span-4</div>
			<div class="p10 h50 bd1-s-white span-8 span-last bgc-gray">.span-8.span-last</div>
			<div class="p10 h50 bd1-s-white span-3 bgc-gray">.span-3</div>
			<div class="p10 h50 bd1-s-white span-9 span-last bgc-gray">.span-9.span-last</div>
			<div class="p10 h50 bd1-s-white span-2 bgc-gray">.span-2</div>
			<div class="p10 h50 bd1-s-white span-10 span-last bgc-gray">.span-10.span-last</div>
			<div class="p10 h50 bd1-s-white span-1 bgc-gray">.span-1</div>
			<div class="p10 h50 bd1-s-white span-11 span-last bgc-gray">.span-11.span-last</div>
			<div class="p10 h50 bd1-s-white span-12 bgc-gray">.span-12</div>
		</section>
		<hr class="m10-0">
		<section class="clearfix c-white fz14">
			<div class="p5 h50 bd1-s-white span-12@md bgc-gray">.span-12@md</div>
			<div class="p5 h50 bd1-s-white span-11@md bgc-gray">.span-11@md</div>
			<div class="p5 h50 bd1-s-white span-1@md span-last@md bgc-gray fz10">.span-1@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-10@md bgc-gray">.span-10@md</div>
			<div class="p5 h50 bd1-s-white span-2@md span-last@md bgc-gray">.span-2@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-9@md bgc-gray">.span-9@md</div>
			<div class="p5 h50 bd1-s-white span-3@md span-last@md bgc-gray">.span-3@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-8@md bgc-gray">.span-8@md</div>
			<div class="p5 h50 bd1-s-white span-4@md span-last@md bgc-gray">.span-4@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-7@md bgc-gray">.span-7@md</div>
			<div class="p5 h50 bd1-s-white span-5@md span-last@md bgc-gray">.span-5@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-6@md bgc-gray">.span-6@md</div>
			<div class="p5 h50 bd1-s-white span-6@md span-last@md bgc-gray">.span-6@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-5@md bgc-gray">.span-5@md</div>
			<div class="p5 h50 bd1-s-white span-7@md span-last@md bgc-gray">.span-7@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-4@md bgc-gray">.span-4@md</div>
			<div class="p5 h50 bd1-s-white span-8@md span-last@md bgc-gray">.span-8@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-3@md bgc-gray">.span-3@md</div>
			<div class="p5 h50 bd1-s-white span-9@md span-last@md bgc-gray">.span-9@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-2@md bgc-gray">.span-2@md</div>
			<div class="p5 h50 bd1-s-white span-10@md span-last@md bgc-gray">.span-10@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-1@md bgc-gray fz10">.span-1@md</div>
			<div class="p5 h50 bd1-s-white span-11@md span-last@md bgc-gray">.span-11@md.span-last@md</div>
			<div class="p5 h50 bd1-s-white span-12@md bgc-gray">.span-12@md</div>
		</section>
		<hr class="m10-0">
		<section class="clearfix c-white fz14">
			<div class="p5 h50 bd1-s-white span-12@sm bgc-gray">.span-12@sm</div>
			<div class="p5 h50 bd1-s-white span-11@sm bgc-gray">.span-11@sm</div>
			<div class="p5 h50 bd1-s-white span-1@sm span-last@sm bgc-gray fz10">.span-1@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-10@sm bgc-gray">.span-10@sm</div>
			<div class="p5 h50 bd1-s-white span-2@sm span-last@sm bgc-gray">.span-2@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-9@sm bgc-gray">.span-9@sm</div>
			<div class="p5 h50 bd1-s-white span-3@sm span-last@sm bgc-gray">.span-3@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-8@sm bgc-gray">.span-8@sm</div>
			<div class="p5 h50 bd1-s-white span-4@sm span-last@sm bgc-gray">.span-4@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-7@sm bgc-gray">.span-7@sm</div>
			<div class="p5 h50 bd1-s-white span-5@sm span-last@sm bgc-gray">.span-5@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-6@sm bgc-gray">.span-6@sm</div>
			<div class="p5 h50 bd1-s-white span-6@sm span-last@sm bgc-gray">.span-6@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-5@sm bgc-gray">.span-5@sm</div>
			<div class="p5 h50 bd1-s-white span-7@sm span-last@sm bgc-gray">.span-7@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-4@sm bgc-gray">.span-4@sm</div>
			<div class="p5 h50 bd1-s-white span-8@sm span-last@sm bgc-gray">.span-8@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-3@sm bgc-gray">.span-3@sm</div>
			<div class="p5 h50 bd1-s-white span-9@sm span-last@sm bgc-gray">.span-9@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-2@sm bgc-gray">.span-2@sm</div>
			<div class="p5 h50 bd1-s-white span-10@sm span-last@sm bgc-gray">.span-10@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-1@sm bgc-gray fz10">.span-1@sm</div>
			<div class="p5 h50 bd1-s-white span-11@sm span-last@sm bgc-gray">.span-11@sm.span-last@sm</div>
			<div class="p5 h50 bd1-s-white span-12@sm bgc-gray">.span-12@sm</div>
		</section>
		<hr class="m10-0">
		<h3 class="heading-3">2 Column Desktop, 1 Column Tablet</h3>
		<section class="c-white">
			<div class="bgc-gray h300 span-4 span-12@md">.span-4.span-12@md (Left Col)</div>
			<div class="bgc-gray h300 span-8 span-last span-12@md">.span-8.span-last.span-12@md (Right Col)</div>
		</section>
		<hr class="m10-0">
		<h3 class="heading-3">3 Column Desktop, 2 Column Tablet, 1 Column Mobile</h3>
		<section class="clearfix c-white gallery-columns-3">
			<div class="span-12 c-black">.gallery-columns-3</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-4 span-6@md span-12@sm">	
				.span-4.span-6@md.span-12@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-4 span-6@md span-12@sm">
				.span-4.span-6@md.span-12@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-4 span-6@md span-12@sm">
				span-4.span-6@md.span-12@sm
				</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-4 span-6@md span-12@sm">	
				.span-4.span-6@md.span-12@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-4 span-6@md span-12@sm">
				.span-4.span-6@md.span-12@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-4 span-6@md span-12@sm">
				span-4.span-6@md.span-12@sm
				</div>
		</section>
		<hr class="m10-0">
		<h3 class="heading-3">4 Column Desktop, 3 Column Tablet, 2 Column Mobile</h3>
		<section class="clearfix c-white gallery-columns-4">
			<div class="span-12 c-black">gallery-columns-4</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
			<div class="h300 bgc-gray bd1-s-white p10 span-3 span-4@md span-6@sm">
				.span-3.span-4@md.span-6@sm
			</div>
		</section>
	</div>
</section>