<section class="mb50">
	<h2 class="heading-2 fw600">Padding</h2>

	<div class="p5 bd1-s-black">.p5</div>
	<div class="p10 bd1-s-black">.p10</div>
	<div class="p15 bd1-s-black">.p15</div>
	<div class="p20 bd1-s-black">.p20</div>
	<div class="p25 bd1-s-black">.p25</div>
	<div class="p30 bd1-s-black">.p30</div>
	<div class="bd1-s-black">etc</div>

</section>