<section class="mb50">
	<h2 class="heading-2 fw600">Position</h2>
	<hr class="m10-0">
	<div class="posr h400 bd1-s-black tac mb20 span-6">
		.posr
		<div class="posa r0 b30 bd1-s-black p10">
			.posa.r0.b30
		</div>
	</div>
	<div class="posr h400 bd1-s-black tac span-6 span-last">
		.posr

		<div class="vertical-align-absolute bd1-s-black p10">.vertical-align-absolute</div>
	</div>
	<div class="posr h400 bd1-s-black tac mb20 span-6">
		.posr
		<div class="horizontal-align-absolute bd1-s-black p10">.horizontal-align-absolute</div>
	</div>
	<div class="posr h400 bd1-s-black tac span-6 span-last">
		.posr
		<div class="transform-center-absolute bd1-s-black p10">.transform-center-absolute</div>
	</div>
</section>