<section class="mb50">
	<h2 class="heading-2 fw600">Text</h2>
	<hr class="m10-0">
	<div>
		normal text <a href="http://docs.emmet.io/cheat-sheet/">Default Link (Emmet Cheat Sheet)</a>
	</div>
	<div class="fsi">
		.fsi
	</div>
	<div>
		<span class="fw900">.fw900</span>
		<span class="fw800">.fw800</span>
		<span class="fw700">.fw700</span>
		<span class="fw600">.fw600</span>
		<span class="fw500">.fw500</span>
		<span class="fw400">.fw400</span>
		<span class="fw300">.fw300</span>
		<span class="fw200">.fw200</span>
		<span class="fw100">.fw100</span>
	</div>
	<div class="tdu">.tdu</div>
</section>