# Runtime data
pids
*.pid
*.seed

# logs
npm-debug.log

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Ignore .env configuration files
.env

# Ignore .DS_Store files on OS X
.DS_Store

# Ignore built css
/client/css

# Ignore hbs files assembled to html
/assembled_hbs

# Ignore our test index.html file
index.html
