<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/site.css">
</head>
<body class="p20">

	{{{body}}}
	
</body>
</html>