
<h1 class="heading1">Heading Size 1</h1>
<h2 class="heading2">Heading Size 2</h2>
<h3 class="heading3">Heading Size 3</h3>
<h4 class="heading4">Heading Size 4</h4>
<h5 class="heading5">Heading Size 5</h5>
<h6 class="heading6">Heading Size 6</h6>

<div>
	{{dynamicText}}
</div>

<div class="grid-container tac">
	Grid Container
	<section class="c-white fz14">
		<div class="p10 bd1-s-white span-12 bgc-gray">.span-12</div>
		<div class="p10 bd1-s-white span-11 bgc-gray">.span-11</div>
		<div class="p10 bd1-s-white span-1 span-last bgc-gray">.span-1.span-last</div>
		<div class="p10 bd1-s-white span-10 bgc-gray">.span-10</div>
		<div class="p10 bd1-s-white span-2 span-last bgc-gray">.span-2.span-last</div>
		<div class="p10 bd1-s-white span-9 bgc-gray">.span-9</div>
		<div class="p10 bd1-s-white span-3 span-last bgc-gray">.span-3.span-last</div>
		<div class="p10 bd1-s-white span-8 bgc-gray">.span-8</div>
		<div class="p10 bd1-s-white span-4 span-last bgc-gray">.span-4.span-last</div>
		<div class="p10 bd1-s-white span-7 bgc-gray">.span-7</div>
		<div class="p10 bd1-s-white span-5 span-last bgc-gray">.span-5.span-last</div>
		<div class="p10 bd1-s-white span-6 bgc-gray">.span-6</div>
		<div class="p10 bd1-s-white span-6 span-last bgc-gray">.span-6.span-last</div>
		<div class="p10 bd1-s-white span-5 bgc-gray">.span-5</div>
		<div class="p10 bd1-s-white span-7 span-last bgc-gray">.span-7.span-last</div>
		<div class="p10 bd1-s-white span-4 bgc-gray">.span-4</div>
		<div class="p10 bd1-s-white span-8 span-last bgc-gray">.span-8.span-last</div>
		<div class="p10 bd1-s-white span-3 bgc-gray">.span-3</div>
		<div class="p10 bd1-s-white span-9 span-last bgc-gray">.span-9.span-last</div>
		<div class="p10 bd1-s-white span-2 bgc-gray">.span-2</div>
		<div class="p10 bd1-s-white span-10 span-last bgc-gray">.span-10.span-last</div>
		<div class="p10 bd1-s-white span-1 bgc-gray">.span-1</div>
		<div class="p10 bd1-s-white span-11 span-last bgc-gray">.span-11.span-last</div>
		<div class="p10 bd1-s-white span-12 bgc-gray">.span-12</div>
	</section>
</div>