
<h1 class="heading1">{{title}}</h1>
<h2 class="heading2">Heading Size 2</h2>
<h3 class="heading3">Heading Size 3</h3>
<h4 class="heading4">Heading Size 4</h4>
<h5 class="heading5">Heading Size 5</h5>
<h6 class="heading6">Heading Size 6</h6>

<div>
	This is text
</div>