//variable naming
// use $<property>-description: value
	// ex.
	// $color-light-blue
	// $width-large

// base font -- assuming we are working with font-size: 10px;
// default is 18px
$font-size-base: 1.8em;

// wire framing colors
$color-black    : #101010;
$color-white    : #fefefe;
$color-lightgray: lightgray;
$color-gray     : gray;

//width of site's content
$width-wrapper: 1024px;

// breakpoints
// starting from 400px and using * 1.4 to scale (500 * 1.4 = 560, etc.)
	// Redefine these widths by the actual design!
$bp-lgx: 1536px;
$bp-lg : 1097px;
$bp-md : 784px;
$bp-sm : 560px;
$bp-smx: 400px;

$bp-wrapper: $width-wrapper;

// heights/widths
	// ex.
	// $height-panel-title: 75px;
	// $width-col: round($width-wrapper / 3);

// site colors
	// ex.
	// $color-brand-gold: #ffb81b;
	// $color-brand-blue: #0e254d;

// susy grid config

$grid-columns-lg: 12;
$grid-gutters-lg: .1;
$grid-columns-md: 12;
$grid-gutters-md: .1;
$grid-columns-sm: 12;
$grid-gutters-sm: .1;

$susy: (
	flow              : ltr,
	math              : fluid,
	output            : float,
	gutter-position   : after,
	container         : auto,
	container-position: center,
	columns           : $grid-columns-lg,
	gutters           : $grid-gutters-lg,
	column-width      : false,
	global-box-sizing : border-box,
	last-flow         : to,
	debug: (
		image : hide,
		color : rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	use-custom: (
		background-image  : true,
		background-options: false,
		box-sizing        : true,
		clearfix          : false,
		rem               : true,
	)
);
