html {
	//set 10px baseline
	// the advantage of this is ems are easier to use 1.5em = 15px
	font-size: 10px;
}

body {
	font-family: sans-serif;
	font-size: $font-size-base;
	line-height: 1.2; // http://practicaltypography.com/line-spacing.html
}

//modular scale  
//find new scale on 
//http://type-scale.com/
//or
//
//http://www.modularscale.com
//base: 10px
//ratios: 1.5

.heading-1 {
	font-size: 5.063em;
}

.heading-2 {
	font-size: 3.375em;
}

.heading-3 {
	font-size: 2.25em;
}

.heading-4 {
	font-size: 1.5em;
}

.heading-5 {
	font-size: 1em;
}

.heading-6 {
	font-size: .667em;
}