$pxs: 0, 1, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400;

//padding/margin/height/width
@each $w in $pxs {
  .p\(#{$w}px\) {
    padding: #{$w}px;
  }
  
  .p\(#{$w}px\,0\) {
    padding: #{$w}px 0;
  }
  
  .p\(0\,#{$w}px\) {
    padding: 0 #{$w}px;
  }
}

@each $w in $pxs {
  .pt\(#{$w}px\) {
    padding-top: #{$w}px;
  }
  
  .pb\(#{$w}px\) {
    padding-bottom: #{$w}px;
  }
  
  .pr\(#{$w}px\) {
    padding-right: #{$w}px;
  }
  
  .pl\(#{$w}px\) {
    padding-left: #{$w}px;
  }
  
  .m\(#{$w}px\) {
    margin: #{$w}px;
  }
  
  .m\(#{$w}px\,0\) {
    margin: #{$w}px 0;
  }
  
  .m\(0\,#{$w}\) {
    margin: 0 #{$w}px;
  }
  
  .mt\(#{$w}px\) {
    margin-top: #{$w}px;
  }
  
  .mb\(#{$w}px\) {
    margin-bottom: #{$w}px;
  }
  
  .mr\(#{$w}px\) {
    margin-right: #{$w}px;
  }
  
  .ml\(#{$w}px\) {
    margin-left: #{$w}px;
  }

  .h\(#{$w}px\) {
    height: #{$w}px;
  }

  .w\(#{$w}px\) {
    width: #{$w}px;
  }

  .t\(#{$w}px\) {
    top: #{$w}px;
  }

  .b\(#{$w}px\) {
    bottom: #{$w}px;
  }

  .l\(#{$w}px\) {
    left: #{$w}px;
  }

  .r\(#{$w}px\) {
    right: #{$w}px;
  }
}

$percentages: 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, -100;

@each $p in $percentages {
  .h\(#{$p}\%\) {
    height: #{$p}%;
  }

  .w\(#{$p}\%\) {
    width: #{$p}%;
  }

  .t\(#{$p}\%\) {
    top: #{$p}%;
  }

  .b\(#{$p}\%\) {
    bottom: #{$p}%;
  }

  .l\(#{$p}\%\) {
    left: #{$p}%;
  }

  .r\(#{$p}\%\) {
    right: #{$p}%;
  }
}

.h\(33\.3333\%\) {
  height: 33.3333%;
}

.h\(66\.6666\%\) {
  height: 66.6666%;
}

.w\(33\.3333\%\) {
  width: 33.3333%;
}

.w\(66\.6666\%\) {
  width: 66.6666%;
}

.t\(33\.3333\%\) {
  top: 33.3333%;
}

.t\(66\.6666\%\) {
  top: 66.6666%;
}

.b\(33\.3333\%\) {
  bottom: 33.3333%;
}

.b\(66\.6666\%\) {
  bottom: 66.6666%;
}

.l\(33\.3333\%\) {
  left: 33.3333%;
}

.l\(66\.6666\%\) {
  left: 66.6666%;
}

.r\(33\.3333\%\) {
  right: 33.3333%;
}

.r\(66\.6666\%\) {
  right: 66.6666%;
}

.m\(0\,auto\) {
  margin: 0 auto;
}

$zs: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $z in $zs {
  .z\(#{$z}\) {
    z-index: $z;
  }
}

//display
.d\(n\) {
  display: none;
}

.d\(i\) {
  display: inline;
}

.d\(b\) {
  display: block;
}

.d\(ib\) {
  display: inline-block;
}

//position
.pos\(r\) {
  position: relative;
}

.pos\(a\) {
  position: absolute;
}

.pos\(f\) {
  position: fixed;
}

//overflows
.o\(h\) {
  overflow: hidden;
}

.o\(a\) {
  overflow: auto;
}

.oy\(a\) {
  overflow-y: auto;
} 

.oy\(h\) {
  overflow-y: hidden;
}

.ox\(a\) {
  overflow-x: auto;
}

.ox\(h\) {
  overflow-x: hidden;
}

//floats
.f\(l\) {
  float: left;
}

.f\(r\) {
  float: right;
}

//clears
.cl\(b\) {
  clear: both;
}

.cl\(l\) {
  clear: left;
}

.cl\(r\) {
  clear: right;
}

//text alignment
.ta\(l\) {
  text-align: left;
}

.ta\(c\) {
  text-align: center;
}

.ta\(r\) {
  text-align: right;
}

.ta\(j\) {
  text-align: justify;
}

//text transform
.tt\(u\) {
  text-transform: uppercase;
}

.tt\(n\) {
  text-transform: none;
}

//text decorate
.td\(n\) {
  text-decoration: none;
}

.td\(u\) {
  text-decoration: underline;
}

//font styles
.fs\(i\) {
  font-style: italic;
}

.fs\(o\) {
  font-style: oblique;
}

.lh\(0\) {
  line-height: 0;
}

$fws: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $fw in $fws {
  .fw\(#{$fw}\) {
    font-weight: $fw;
  }
}

//font families
.ff\(s\) {
  font-family: serif;
}

.ff\(ss\) {
  font-family: sans-serif;
}

//background color
.bgc\(white\) {
  background-color: $color-white;
}

.bgc\(gray\) {
  background-color: $color-gray;
}

.bgc\(black\) {
  background-color: $color-black;
}

//font color
.c\(white\) {
  color: $color-white;
}

.c\(gray\) {
  color: $color-gray;
}

.c\(black\) {
  color: $color-black;
}

//opacity

.op\(0\) {
  opacity: 0;
}

.op\(\.1\) {
  opacity: .1;
}

.op\(\.2\) {
  opacity: .2;
}

.op\(\.3\) {
  opacity: .3;
}

.op\(\.4\) {
  opacity: .4;
}

.op\(\.5\) {
  opacity: .5;
}

.op\(\.6\) {
  opacity: .6;
}

.op\(\.7\) {
  opacity: .7;
}

.op\(\.8\) {
  opacity: .8;
}

.op\(\.9\) {
  opacity: .9;
}

.op\(1\) {
  opacity: 1;
}

//cursor
.cur\(p\) {
  cursor: pointer;
}

.cur\(c\) {
  cursor: crosshair;
}

.ls\(n\) {
  list-style: none;
}

//border
.bd\(n\) {
  border: none;
}

.bd\(1px\,s\,white\) {
  border: 1px solid white;
}

.bd\(1px\,s\,black\) {
  border: 1px solid black;
}

.bd\(1px\,s\,gray\) {
  border: 1px solid gray;
}

.bt\(1px\,s\,white\) {
  border-top: 1px solid white;
}

.bb\(1px\,s\,white\) {
  border-bottom: 1px solid white;
}

.bt\(1px\,s\,black\) {
  border-top: 1px solid black;
}

.bb\(1px\,s\,black\) {
  border-bottom: 1px solid black;
}

.bt\(1px\,s\,gray\) {
  border-top: 1px solid gray;
}

.bb\(1px\,s\,gray\) {
  border-bottom: 1px solid gray;
}

.br\(1px\,s\,white\) {
  border-right: 1px solid white;
}

.bl\(1px\,s\,white\) {
  border-left: 1px solid white;
}

.br\(1px\,s\,black\) {
  border-right: 1px solid black;
}

.bl\(1px\,s\,black\) {
  border-left: 1px solid black;
}

.br\(1px\,s\,gray\) {
  border-right: 1px solid gray;
}

.bl\(1px\,s\,gray\) {
  border-left: 1px solid gray;
}