//show or hide items at different breakpoints
.show-lg\(\) {
	display: none;

	@media all and (max-width: $bp-lg) {
		display: block;
	}
}

.show-tablet\(\) {
	display: none;

	@media all and (max-width: $bp-md) {
		display: block;
	}
}

.show-mobile\(\) {
	display: none;

	@media all and (max-width: $bp-sm) {
		display: block;
	}
}

@media all and (max-width: $bp-lg) {
	.hide-lg\(\) {
		display: none;
	}
}

@media all and (max-width: $bp-md) {
	.hide-tablet\(\) {
		display: none;
	}
}

@media all and (max-width: $bp-sm) {
	.hide-mobile\(\) {
		display: none;
	}
}

//use border-radius to create a circle shape
.border-circle\(\) {
	border-radius: 100%;
}

//force element to fill container height/width
.max-height\(\) {
	height: 100%;
}

.max-width\(\) {
	width: 100%;
}

//center elements horizontally and/or vertically 
.vertical-align\(\) {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.horizontal-align\(\) {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.transform-center\(\) {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.horizontal-align-absolute\(\) {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.vertical-align-absolute\(\) {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.transform-center-absolute\(\) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.horizontal-align-fixed\(\) {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.vertical-align-fixed\(\) {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

.transform-center-fixed\(\) {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// use a checkbox to show and hide sibling elements with target class
.toggle-sibling\(\) {
	display: none;
}

.toggle-sibling\(\) ~ .toggle-sibling-target {
	display: none;
}

.toggle-sibling:checked ~ .toggle-sibling-target {
	display: block;
}

//flex styles
.flex-box\(\) {
	display: flex;
}

.flex-box\(if\) {
	display: inline-flex;
}

//transforms
.rotateZ\(45deg\) {
	transform: rotateZ(45deg);
}

.rotateZ\(90deg\) {
	transform: rotateZ(90deg);
}

.scale\(\.5\,\.5\) {
	transform: scale(.5, .5); 
}

.scale\(1\.5\,1\.5\) {
	transform: scale(1.5, 1.5); 
}

.scale\(2\,2\) {
	transform: scale(2, 2); 
}

//transition settings
.transition\(opacity\,\.3s\) {
	transition: opacity .3s;
}

.transition\(color\,\.3s\) {
	transition: color .3s;
}

.transition\(background\,\.3s\) {
	transition: background .3s;
}

.transition\(transform\,\.3s\) {
	transition: transform .3s;
}

.transition\(top\,\.3s\) {
	transition: top .3s;
}

.transition\(left\,\.3s\) {
	transition: left .3s;
}

.transition\(right\,\.3s\) {
	transition: right .3s;
}

.transition\(bottom\,\.3s\) {
	transition: bottom .3s;
}

.transition\(all\,\.3s\) {
	transition: all .3s;
}